@{
    ViewBag.Title = "Retorno Consignação";
}

<h2>Retorno</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Retorno</h4>
    <hr />




</div>
}
